/* Creado por Ángel Hernandez Ortiz. Copyright Espai Abastos, todos los derechos reservados. Última modificación 20/02/2019 */

body{
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
    margin-top: 1px;
    background-color: #D7F9F6;
}

header{
    border: darkblue 5px solid;
    background: url(img/marble.jpg);
    
}

h1.inicio{  
    font-size: 170%;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    text-align: left;
    margin-left: 6%;
    margin-top: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    color: darkblue;
    float: left;
}


p.inicio{
    float: center;
}

img.logo{
    width: 6%;
    height: 6%;
    margin-left: 26%;
}

p.sociales{
    font-size: 80%;
    font-weight: bold;
    text-align: right;
    margin-top: -120px;
    margin-right: 6%;
    padding-right: 2%;
    margin-left: 77%;
    background-color: white;
    border: black 2px solid;
    letter-spacing: -1px;
}

img.twitter{
    width: 20px;
    height: 20px;
}

img.facebook{
    width: 20px;
    height: 20px;
}

img.Abastos_Blog{
    width: 20px;
    height: 20px;
}

a.social_links{
    color: blue;
    text-decoration:none;
}

a.social_links:hover{
    background-color: #2ECCFA;
    color: white;

}

a.inicio{
    color: darkblue;
    text-decoration:none;
}

nav{
	margin: 30px auto;
    background: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -10px;
    font-weight: bold;
}

nav ul{
    list-style: none;
    border: black 5px solid;
    background-color: #21177F;
    
}

ul.navegacion1 > li{
	position: relative;
    display: inline-block;
    margin-left: 17%;
    
}

ul.navegacion1 > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: sans-serif;
    text-decoration: none;
}

ul.navegacion1 li a:hover{
	color: #CE7D35;
}

ul.navegacion2{
	position: absolute;
	background-color: #21177F;
	width: 120%;
	visibility: hidden;
    border: black 3px solid;
    z-index: 2;
}

p.navega1{
    margin-top: -3px;
    margin-right: -3px;
    margin-left: -43px;
    padding: 0;
    border: black 3px solid;
}

p.navega2{
    margin-top: -19px;
    margin-bottom: -2px;
    margin-right: -3px;
    margin-left: -43px;
    padding: 0;
    border: black 3px solid;
}

p.navega3{
    padding: 0;
    border: black 3px solid;
    margin-right: -3px;
    margin-left: -43px;
    margin-top: -3px;
}

p.navega4{
    padding: 0;
    border: black 3px solid;
    margin-right: -3px;
    margin-left: -43px;
    margin-top: -19px;
}

p.navega5{
    padding: 0;
    border: black 3px solid;
    margin-right: -3px;
    margin-left: -43px;
    margin-top: -19px;
    margin-bottom: -5px;
}

ul.navegacion2 li a{
	display: block;
	padding: 15px;
	color: white;
	font-family: sans-serif;
    text-decoration: none;
    font-size: 90%;

}

ul.navegacion1 li:hover ul.navegacion2{
	visibility: visible;
    opacity: 1;
}

footer{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: #0A016A 2px solid;
    margin-bottom: 0px;
    margin-left: -2%;
    margin-right: -2%;
    background-color: white;
    z-index: 20;
}

main{
    background-color: white;
    font-family: sans-serif;
    margin-top: -10px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    z-index: -1;
}
/* Todas las paginas deben compartir todos estos parametros */

/* A partir de aqui es ¿Quienes somos?*/

section.conocenos{
    background-image:url(img/squares.jpg);
    background-size: 100% 250%;
    margin-top: -25px;
    margin-left: 0px;
    
    width: 100%;
    z-index: 1;
}

img.gente{
    height: 300px;
    margin: 2%;
    margin-left: 70%;
}

h1.conocenos{
    position: absolute;
    top: 27%;
    right: 36%;
    font-size: 145%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
}

p.gente{
    position: absolute;
    top: 47%;
    right: 33%;
}

a.boton_solicitud1{
    text-transform: none;
    font-size: 150%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 1px;
    text-decoration:none;
    border: black 2px solid;
    border-top: #262B7C solid;
    border-left: #262B7C solid;
    border-radius: 150%;
    background-color: #262B7C;
    padding: 30px;
}

a.boton_solicitud1:hover{
    background-color: #F9F9FB;
    color: black;
    border: black 2px solid;
    border-bottom: white solid;
    border-right: white solid;
}

h1.quienes_somos{
    margin-left: 17%;
    font-size: 180%;
    color: #191994;
}

p.quienes_somos{
    margin-right: 50%;
    text-align: center;
}

img.ies_abastos{
    float: right;
    width: 25%;
    height: 25%;
    margin-right: 5%;
}

img.ies_abastos:hover{
    width: 35%;
    height: 35%;
    margin-right: 0px;
    margin-top: -50px;
}

article.que_hacemos{
    padding-bottom: 5%;
    
}

h1.que_hacemos{
    text-align: justify;
    font-size: 180%;
    margin-left: 69%;
    color: #191994;
    
}

p.que_hacemos{
    text-align: center;
    margin-left: 53%;
}

object.video1{
    float: left;
    width: 435px; 
    height:250px;
    margin-left: 5%;
}

a.mapa_main{
    font-weight: bold;
    color: red;
    text-decoration: none;
    font-size: 120%;
}

a.mapa_main:hover{
    background-color: red;
    color: white;
}

video.video_present{
    float: left;
    margin-left: 3%; 
}
/* A partir de aqui es mapa_espacios*/

article.mapa_espacios{
    margin-left: 9%;
    margin-top: 1%;
    margin-bottom: 1%;
    z-index: 1;
}

img.mapa_espacios{
    width: 90%;
    height: 90%;
}

p.salon_actos_mapa{
    z-index: 20;
    position: absolute;
    top: 82%;
    right: 44%;
}

img.salon_actos_mapa{
    width: 105px;
    height: 73px;
    border: darkblue 4px solid;
}

img.salon_actos_mapa:hover{
    width: 145px;
    height: 113px;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 13%;
}

p.cafeteria_mapa{
    z-index: 20;
    position: absolute;
    top: 63%;
    right: 63%;
}

img.cafeteria_mapa{
    width: 105px;
    height: 73px;
    border: darkblue 4px solid;
}

img.cafeteria_mapa:hover{
    width: 145px;
    height: 113px;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 13%;
}

p.sala_semipresencial_mapa{
    z-index: 20;
    position: absolute;
    top: 86%;
    right: 67%;
}

img.sala_semipresencial_mapa{
    width: 105px;
    height: 73px;
    border: darkblue 4px solid;
}

img.sala_semipresencial_mapa:hover{
    width: 145px;
    height: 113px;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 13%;
}

p.sala_informatica_mapa{
    z-index: 20;
    position: absolute;
    top: 100%;
    right: 77%;
}

img.sala_informatica_mapa{
    width: 105px;
    height: 73px;
    border: darkblue 4px solid;
}

img.sala_informatica_mapa:hover{
    width: 145px;
    height: 113px;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 13%;
}

/* A partir de aqui es galeria_espacios*/

article.galeria{
    float: left;
    border: 4px dashed #21177F;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-top: -10px;
    background-color: #D7F9F6;
    margin-right: 5%;
    margin-left: 3%;
    margin-bottom: 4%;
}

a.galeria{
    text-decoration: none;
    color: #21177F;
}

h1.galeria{
    margin-left: 0px;
    font-size: 170%;
}

img.galeria{
    width: 370px;
    height: 270px;
    border: 5px black solid;
    border-radius: 30px;
}

footer.galeria{
    position: absolute;
    top: 120%;
    right: 2%;
    width: 100%;
}

main.galeria{
    position: absolute;
    z-index: -2;
    width: 89%;
    height: 90%;
}

/* A partir de aqui es eleccion_espacios y eleccion_contacto*/

section.eleccion_fondo{
    background-image: url(img/eleccion.jpeg);
}

h1.galeria2{
    font-size: 150%;
    color: white;
    margin-left: 4%;
    margin-top: -1%;
    padding-top: 4%;
    padding-bottom: 4%;
}

a.galeria2{
    text-decoration: none;
    color: white;
}

a.galeria2:hover{
    color: #CE7D35;
}

/* A partir de aqui es solicitud*/

article.solicitud1{
    background-image: url();
}

form.solicitud{
    background-color: white;
}

h2{
    font-size: 115%;
}

a.mapa_main1{
    font-weight: bold;
    color: #21177F;
    text-decoration: none;
    font-size: 100%;
    border: 3px #21177F solid;
    border-radius: 5px;
    margin-left: 5%;
    padding: 1%;
}

a.mapa_main1:hover{
    background-color: #21177F;
    color: white;
    border: 5px black solid;
}

form.solicitud{
    background-image: url(img/solicitud.jpg);
    background-repeat: no-repeat;
    background-size: 120% 140%;
    border: #D7F9F6 7px solid;
    border-radius: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-top: 1%;
    margin-left: 3%;
    margin-right: 30%;
    font-weight: 600;
}

button.final{
    margin-left: 20%;
    font-size: 110%;
    background-color: #D7F9F6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button.final:hover{
    border-bottom: black 2px solid;
    border-right: black 2px solid;
    color: #CE7D35;
}

img.abastoss{
    position: absolute;
    top: 28%;
    right: 6%;
    width: 24%;
    height: 40%;
}

/* A partir de aqui es ubicacion*/

article.direccion{
    background-color: #8258FA;
    border-radius: 2%;
    padding-top: 1%;
    padding-bottom:1%;
    padding-left: 4%;
    margin-bottom: 1%;
    text-align: justify;
    margin-left: 80%;
    margin-bottom: 20%;
}

iframe.abastos{
    position: absolute;
    top: 28%;
    right: 42%;
    width: 50%;
    height: 45%;
}

article.horario{
    margin-top: -7%;
    margin-left: 21%;
    background-color: #21177F;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: white;
    margin-right: 63%;
}

span{
    font-weight: bold;
    margin-right: 1%;
    letter-spacing: 1px;
}

/* A partir de aqui es otros_contactos*/


span.important{
    color: #B40404;
}

article.otroscont{
    font-size: 150%;
    text-align: center;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 35%;
    background-image: url(img/black.jpg);
    border-radius: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    padding: 3%;
}

article.red2{
    margin-left: 28%;
    margin-right: -20%;
    margin-top: 6%;
    margin-bottom: 20%;
}

p.red2{
    float: left;
}

img.Abastos_Blog2{
    height: 43%;
    width: 43%;
    border-radius: 50%;
}

img.facebook2{
    height: 27%;
    width: 27%;
    margin-left: -45%;
}


img.twitter2{
    height: 23%;
    width: 23%;
    border-radius: 50%;
}

/* A partir de aqui es cafeteria, sala_informatica etc*/

img.cafeteriamain{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 9%;
}

main.espacios{
    background-image: url(img/background-espacio.jpg);
    border: #2E2E2E 20px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #2E2E2E #6E6E6E #6E6E6E #2E2E2E;
}

p.textespacio{
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    text-align: justify;
    background-color: #E6E6E6;
    box-shadow: 5px 10px #888888;
    border: 2px black solid;
    padding: 10px;  
}

span.esp{
    letter-spacing: 1px;
    word-spacing: -1px;
}

section.pieesp{
    text-align: center;
    font-size: 100%;
    font-family: monospace;
    margin-right: 71%;
    margin-left: 2%;
    margin-top: -7%;
    background-color: #D0A9F5;
    padding-top: 12px;
    padding-bottom: 12px;
    border: black 3px solid;
    border-color: black blue blue black;
}

section.pieesp p{
    margin-top: 1px;
    margin-bottom: 1px;
}

section.pieesp h1{
    margin-bottom: 10px;
    margin-top: 2px;
}

a.boton_solicitudX{
    text-transform: none;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #21177F;
    letter-spacing: 1px;
    text-decoration:none;
    border: black 8px groove;
    border-top: #262B7C solid;
    border-left: #262B7C solid;
    border-radius: 100%;
    background-color: #D7F9F6;
    padding: 30px;
    float: right;
    margin-top: -19%;
    margin-right: 10%;

}

a.boton_solicitudX:hover{
    background-color: #81BEF7;
    color: white;
    border: darkgray 2px inset;
    border-top: #C8C8C8 inset;
    border-left: #C8C8C8 inset;
}

a.boton_solicitudXY{
    text-transform: none;
    font-size: 150%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3E8237;
    letter-spacing: 1px;
    text-decoration:none;
    border: black 8px groove;
    border-top: #262B7C solid;
    border-left: #262B7C solid;
    background-color: #A9F5BC;
    padding: 30px;
    float: right;
    margin-top: -9%;
    margin-right: 10%;

}

a.boton_solicitudXY:hover{
    background-color: #0C4B05;
    color: white;
    border: darkgray 2px inset;
    border-top: #C8C8C8 inset;
    border-left: #C8C8C8 inset;
}
